.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 0;
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 0 29px;
}

.nav {
  gap: 44px;
  font-family: Gilroy Bold, sans-serif;
  display: flex;
  padding-right: 11px;

  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    opacity: 0.85;
    transition: 0.3s;
    font-family: Gilroy, sans-serif;
  }

  a:hover {
    opacity: 1;
  }
}

.account {
  cursor: pointer;
  align-items: center;
  gap: 8px;
  padding: 0 4px 0 0;
  font-family: Gilroy, sans-serif;
  font-size: 19px;
  display: flex;

  .icon {
    font-size: 20px;
    color: white;
  }
}

/* -------- responsive -------- */

@media (max-width: 800px) {

  .nav {
    display: none;
  }

}