.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 700;
  padding: 2px 0 0 17px;
}

.nav {
  gap: 31px;
  display: flex;

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    opacity: 0.85;
    transition: 0.3s;
    font-family: Gilroy, sans-serif;
  }

  a:hover {
    opacity: 1;
  }
}

.account {
  cursor: pointer;
  align-items: center;
  gap: 6px;
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  display: flex;
  padding: 3px 6px 0 0;

  .icon {
    font-size: 20px;
    color: white;
  }
}

/* -------- responsive -------- */

@media (max-width: 800px) {

  .nav {
    display: none;
  }

}