.wrapper {
  justify-content: flex-end;
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

.textBlock {
  position: relative;
  max-width: 550px;
  padding: 100px 0 0 91px;
}

.number {
  color: #ffffff0d;
  font-family: Gilroy Medium, sans-serif;
  font-size: 171px;
  font-weight: 800;
  position: absolute;
  top: -13px;
  left: -18px;
}

.label {
  letter-spacing: 3.8px;
  text-transform: uppercase;
  color: #fbd784;
  margin-bottom: 13px;
  padding: 4px 0 0 68px;
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  display: block;
}

.link {
  color: #fbd784;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.image img {
  object-fit: cover;
  max-width: 410px;
  max-height: 528px;
}

/* ---------- responsive ---------- */

@media (max-width: 1034px) {

  .wrapper {
    gap: 80px;
  }

}

@media (max-width: 710px) {

  .wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .number {
    display: none;
  }

}