.section01 {
  padding: 256px 0 1px 0;
}

.section01Heading {
  margin: 0 21px 19px 0;
  font-family: Chronicle Display, serif;
  font-size: 49.6px;
  font-weight: 500;
  line-height: 1.16;
  color: #ffffff;

  @media (max-width: 1034px) {
    font-size: 36px;
  }
}

.section01Paragraph {
  margin-bottom: 16px;
  font-family: Gilroy, sans-serif;
  font-size: 11.2px;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 1.15px;
  color: #ffffff;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  align-items: center;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.textBlock {
  position: relative;
  max-width: 520px;
}

.number {
  position: absolute;
  top: -120px;
  left: -80px;

  font-size: 200px;
  font-weight: 700;

  color: rgba(255,255,255,0.08);
}

.label {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #fbd784;
}

.section01Image {
  width: 100%;
  height: auto;
  margin: 0 243px 0 84px;
}
