@use "typography" as typography;

.section03 {
  padding: 147px 0 1px;
}

.section03Heading {
  @include typography.heading;
}

.section03Paragraph {
  @include typography.paragraph(650px);
}

.content {
  position: relative;
  max-width: 520px;
  top: 474px;
  left: 158px;
}

.section03Image {
  margin: -4px 115px 0 82px;
  top: 340px;
  left: 130px;

  @media (max-width: 710px) {
    margin-top: 30px;
  }

  img {
    border-radius: 10px;
  }
}
