@use "typography" as typography;

.section02 {
  padding: 196px 0 1px;
  position: relative;
  top: 143px;
}

.section02Heading {
  @include typography.heading;
}

.section02Paragraph {
  @include typography.paragraph(636px);
}

.content {
  position: relative;
  max-width: 520px;
  top: 279px;
  right: 28px;
}

.section02Image {
  top: 139px;
  left: -61px;
}
