@use "typography" as typography;

.section01 {
  padding: 0 0 205px 0;
  position: relative;
  top: 340px;
}

.section01Heading {
  @include typography.heading;
}

.section01Paragraph {
  @include typography.paragraph(650px);
}

.content {
  position: relative;
  top: 283px;
  left: 156px;
}

.section01Image {
  margin: 0 75px 0 0;
  top: 143px;
  left: 84px;
}

@media (max-width: 1100px) {
  .section01Heading,
  .section01Paragraph {
    max-width: 100%;
  }
}

@media (min-width: 1101px) and (max-width: 1300px) {
  .section01 {
    top: 0;
    padding: 96px 0 80px;
  }

  .content {
    top: 0;
    left: 0;
  }

  .section01Heading {
    width: 480px;
    font-size: 48px;
  }

  .section01Paragraph {
    width: 480px;
  }

  .section01Image {
    top: auto;
    left: auto;
    margin: 0;
  }
}

@media (min-width: 1539px) and (max-width: 1600px) {
  .section01 {
    top: 290px;
  }

  .content {
    top: 233px;
  }

  .section01Image {
    top: 93px;
  }
}

@media (max-width: 1100px) {
  .section01 {
    top: 0;
    padding: 48px 0 56px;
  }

  .content {
    top: 0;
    left: 0;
  }

  .section01Heading,
  .section01Paragraph {
    width: 100%;
  }

  .section01Image {
    top: auto;
    left: auto;
    margin: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1240px) {
  .section01 {
    padding: 40px 0 72px;
  }
}

@media (min-width: 1244px) and (max-width: 1538px) {
  .section01 {
    top: 0;
    padding: 284px 0 72px;
  }

  .content {
    top: 0;
    left: 0;
  }

  .section01Image {
    top: auto;
    left: auto;
    margin: 0;
  }
}
