.hero {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: visible;
  padding-top: 13%;
  padding-left: 23.4%;
}

.bg {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 50%;
  background: url("../../assets/main_bg.png");
  background-size: cover;
  z-index: -10;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 200vh;
  z-index: -1;
}
.separator{
  height: 416px;
}

.content {
  //max-width: 630px;
}

.label {
  letter-spacing: 6.8px;
  text-transform: uppercase;
  color: #fbd784;
  align-items: center;
  gap: 31px;
  margin-bottom: 27px;
  font-family: Gilroy Regular, sans-serif;
  font-size: 17px;
  font-weight: 600;
  display: flex;

  .line {
    width: 72px;
    height: 2px;
    background-color: #fbd784;
  }
}
.line {
  width: 60px;
  height: 2px;
  background-color: #fbd784;
}

.content h1 {
  letter-spacing: 2.8px;
  margin-bottom: 40px;
  margin-left: 1px;
  font-family: Chronicle Display Roman, serif;
  font-size: 85px;
  line-height: 1.16;

  @media (max-width: 1034px) {
    font-size: 48px;
  }

  @media (max-width: 710px) {
    font-size: 36px;
  }
}

.scroll {
  letter-spacing: .3px;
  gap: 14px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  display: flex;
}

.leftSidebar {
  z-index: 10;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-left: 16px;
  display: flex;
  position: absolute;
  top: 44%;
  left: 59px;
  transform: translateY(-50%);

  .followLabel {
    writing-mode: vertical-rl;
    letter-spacing: 1px;
    color: #fff;
    padding:5px 0 0 1px;
    font-family: Gilroy, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }

  .socialIcons {
    display: flex;
    flex-direction: column;
    gap: 28px;

    .icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 14px;
      color: #fff;
      cursor: pointer;
    }
  }
}

/* Скрываем на мобильных */
@media (max-width: 710px) {
  .leftSidebar {
    display: none;
  }
}

/* -------- responsive -------- */

@media (max-width: 1034px) {

  .content h1 {
    font-size: 56px;
  }

}

@media (max-width: 710px) {

  .content {
    max-width: 90%;
  }

  .content h1 {
    font-size: 40px;
  }

}

@media (max-width: 600px) {

  .content h1 {
    font-size: 32px;
  }

}