@use "../styles/reset";
@use "../styles/variables";
@use "../styles/main";
@use "../styles/layout";

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}
body {
  font-family: var(--font-inter), serif;
  color: #fff;
  background: #0b1d26;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}