@use "../styles/reset";
@use "../styles/variables";
@use "../styles/layout";
@use "../styles/main";

:root {
  --color-bg: #0b1d26;
  --color-accent: #fbd784;
  --color-text: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter), serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}

main {
  position: relative;
}