.footer {
  width: 100%;
  background: #0b1d26;
  color: #fff;
  padding-top: 315px;
}

.footer h1,
.footer h2,
.footer h3 {
  font-family: Chronicle Display Roman, serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 1.1px;
  color: #fff;
}

.footer span,
.footer a {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  color: #fff;
}

.footer a.accent {
  color: #fbd784;
  font-weight: 700;
}

.top {
  justify-content: space-around;
  align-items: flex-start;
  gap: 38px;
  display: flex;
  padding-top: 223px;
  height: 200px;
}

.brand {
  max-width: 300px;
  position: relative;
  right: 45px;

  h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 2.9px;
  }

  p {
    opacity: 0.8;
    padding-top: 28px;
    font-family: Gilroy Medium, sans-serif;
    font-size: 18px;
    line-height: 1.8;
  }
}

.links {
  gap: 209px;
  display: flex;
  position: relative;
  right: -68px;

  h4 {
    color: #fbd784;
    margin-bottom: 25px;
    font-size: 23px;
    font-family: Gilroy, sans-serif;
  }

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 19.5px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    font-family: Gilroy, sans-serif;
  }

  a:hover {
    opacity: 1;
  }
}

.bottom {
  opacity: 0.5;
  margin-top: 250px;
  padding-left: 178px;
  font-family: Gilroy Light, sans-serif;
  font-size: 18px;
}

@media (max-width: 1034px) {

  .top {
    gap: 80px;
  }

  .links {
    gap: 80px;
  }

}

@media (max-width: 800px) {

  .top {
    flex-direction: column;
    gap: 60px;
  }

  .links {
    gap: 60px;
  }

}

@media (max-width: 600px) {

  .links {
    flex-direction: column;
    gap: 40px;
  }

}
