.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 49px;
  padding-right: 65px;
  font-family: Chronicle Display Roman, serif;

  /* Mobile & Tablet */
  @media (max-width: 1034px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 800px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}